---
layout: default
title: Categories
---

<section class="group">
  <h1 class="group-heading">Categories</h1>

  <div class="story story-align-top">
    <div class="story-text">
      <div class="category">
        {% assign tag_list = site.tags | sort %}
        {% for tag in tag_list %}
          <h3 class="category-title" id="{{ tag[0] }}">{{ tag[0] | capitalize }}</h3>
          <ul class="category-list">
            {% for post in tag[1] %}
              <li><a class="category-link" href="{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
          </ul>
        {% endfor %}
      </div>
    </div>
    <div class="story-image">
      <img alt="Illustration of personal effects" src="https://dl.dropboxusercontent.com/s/krnb0hzfak5kdg4/illustration-collection-of-items.png?dl=0">
    </div>
  </div>
</section>
