.masthead
  background-color: $peach
  margin-bottom: 2rem

.masthead-container
  align-items: center
  display: flex
  justify-content: space-between
  padding: 1rem

.masthead-title
  font-size: $text-h6
  font-weight: normal

.masthead-navigation
  font-family: $font-family-secondary
  font-size: $text-h6
  font-weight: bold

  a
    color: $ruby
    margin-right: .25rem

    &:last-of-type
      margin-right: 0

=masthead-md
  .masthead-title,
  .masthead-navigation
    font-size: $text-h5

  .masthead-navigation
    a
      margin-right: 1rem

=masthead-lg
  .masthead
    margin-bottom: 4rem

  .masthead-container
    margin-left: auto
    margin-right: auto
    max-width: 960px
