.masthead
  align-items: center
  background-color: $peach
  display: flex
  justify-content: space-between
  margin-bottom: 1rem
  padding: 1rem

.masthead-title
  font-size: $text-h6
  font-weight: normal

.masthead-navigation
  font-family: $font-family-secondary
  font-size: $text-h6
  font-weight: bold

  a
    color: $ruby
    margin-right: .25rem

    &:last-of-type
      margin-right: 0
